<% title = 'Travels with Tess' %>
<div class="container">
    <h5 class="mt-3">Please click on the title to add comments to any post</h5>
  <% if (typeof message !== 'undefined') { %>
    <h2><%= message %></h2>
  <% } else { %>
    <% posts.forEach(post => { %>
        <h1><a href="/posts/<%= post.id %>" data-bs-toggle="tooltip" title="Click on title to add comment" ><%= post.title %></a></h1>
        <p>Posted by <%= post.User.username %></p>
        <p><%= post.content %></p>
        <% if (post.imageURL) { %> <!-- Check if imageURL exists -->
          <img src="/assets/images/uploads/<%= post.imageURL %>" alt="<%= post.title %>" class="img-fluid custom-border" >
        <% } %>
        <hr>
    <% }) %>      
  <% } %>
</div>
