<% title = 'Travels with Tess' %>
  <div class="container">
    <h1><%= post.title %></h1>
    <p><%= post.content %></p>
    <!-- Display the comments for this post -->
    <% post.Comments.forEach(comment => { %>
      <p><%= comment.content %></p>
    <% }) %> 

    <h2>Comments</h2>
    <% post.Comments.forEach(function(comment) { %>
      <div class="card mb-3">
        <div class="card-body">
            <h2 class="card-text mb-2"><%= comment.content %></h2>
            <h5 class="card-title mb-2"><%= comment.User ? comment.User.username : 'Anonymous' %></h5>
            <h6 class="card-subtitle mb-2"><%= comment.createdAt %></h6>
          
        </div>
      </div>
    <% }) %>

    <h2>Add Comment</h2>
    <form action="/comments/create" method="post">
      <input type="hidden" name="postId" value="<%= post.id %>">
      <div class="form-group">
        <textarea class="form-control" id="content" name="content" rows="3" required></textarea>
      </div>
      <button type="submit" class="btn btn-primary">Comment</button>
    </form>
  </div>

