<% title = 'All Posts' %>
<div class="container">
  <h4 class="mt-3">Please click on the title to add comments to any post</h4>
  <% if (typeof message !== 'undefined') { %>
    <h2><%= message %></h2>
  <% } else { %>
    <% posts.forEach(post => { %>
      <fieldset>
        <h2><a href="/posts/<%= post.id %>" data-bs-toggle="tooltip" title="Click on title to add comment" ><%= post.title %></a></h2>
        <h2><%= post.content %></h2>
        <% if (post.imageURL) { %> <!-- Check if imageURL exists -->
          <img src="<%= post.imageURL %>" alt="<%= post.title %>" class="img-fluid custom-border" >
        <% } %>
        <% if (user && user.id === post.UserId) { %> <!-- Check if the logged-in user is the author -->
          <a href="/posts/<%= post.id %>/edit" class="btn btn-primary mt-2">Edit</a>
        <% } %>      
      </fieldset>
    <% }) %>
  <% } %>
</div>

